[submodule "src/submodule/base"]
	path = src/submodule/base
	url = git@github.com:luongdeveloper/base.git
[submodule "src/afi-manager-base-model"]
	path = src/afi-manager-base-model
	url = git@github.com:luongdeveloper/afi-manager-base-model.git
