@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=RobotoDraft&display=swap');
@import url('https://fonts.googleapis.com/css?family=Segoe+UI&display=swap');
@import url('https://fonts.googleapis.com/css?family=sans-serif&display=swap');
@import url('https://fonts.googleapis.com/css?family=BlinkMacSystemFont&display=swap');

body {
  margin: 0;
  font-family: "Open Sans",Roboto,RobotoDraft,Helvetica,sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

@keyframes rotate {
  from {
    transform: rotate(360deg)
  };
}
